@charset "utf-8";
@import "normalize";

@import 'https://fonts.googleapis.com/css?family=Kanit:100';


$left-padding: 10%;
$font-color: #EEE;
$mobile: 414px; //iphone 6 plus

body {
  font-family: 'Kanit';
  background: url("../images/backplate.jpg") no-repeat center center fixed;
  background-size: cover;
}

h1{

  font-weight: 100;
  font-size: 60px;
  line-height: 62px;

  @media screen and (max-width: $mobile) {
    font-size: 30px;
    line-height: 31px; 
  }

  color: $font-color;
  padding-left: $left-padding;
}

.info{
  position: absolute;
  bottom: 40px;
  padding-left: $left-padding;

  a{
    padding-left: 12px;
    color: $font-color;
    text-decoration: none;
  }

  img{
    height: 60px;
  }
}

.top-bar {
  background: #212121;
  width: 100%;
  height: 60px;
}

.bottom-bar{
  position: absolute;
  bottom: 0;
  background: #212121;
  width: 100%;
  height: 10px;
}
