---
title: Morph
---

.top-bar

.hero
  %h1 
    WE <br>
    DESIGN <br>
    EXPERIENCES. <br>

.info
  %a{ href: "mailto:hello@wearemorph.com" } CONTACT
  .logo
    = image_tag('morphclean.svg') 

%footer.bottom-bar
